# node_modules 디렉토리를 제외하는 것은 일반적입니다. Docker 이미지 내에서 의존성을 설치하기 때문에, 로컬의 node_modules는 필요하지 않습니다.
node_modules
# 빌드 결과물은 Docker 이미지 내에서 생성되므로, 로컬의 빌드 결과물을 제외하는 것이 맞습니다.
.nuxt
# Git 저장소 관련 파일을 제외합니다. Docker 이미지에는 필요하지 않습니다.
.git
# 문서 파일을 제외합니다. Docker 이미지에는 필요하지 않습니다.
docs
# 빌드된 결과물을 제외합니다. Docker 이미지 내에서 빌드가 이루어지기 때문입니다.
dist